/* Change color of H1 tag and add Shadow */
.container{
	  position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/airplane.jpg) no-repeat center center scroll;
}
h1.custom {
  font-family: impact, sans-serif;
  font-size: 30px;
  color: Black;
  font-style: bold;
  text-align: center;
  text-shadow: 2px 3px 5px #444;
	background-color: transparent;
}

table.side {
	width: 100%;
	background-repeat: repeat-y;
	background: white;

}

td.side  {
   border: 1px solid #999;
   border-collapse: collapse;
   font-family: verdana, sans-serif;
   font-weight: bold;
   font-size: 12px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 4px;
   padding-bottom: 4px;
}

td.side:hover {
	background: #cbd3fe;	
}

.header {
    color: black;
    text-align: center;
    padding: 5px;
}

.btn {
  margin-left: 10px;
}

.LeftPanel {
    line-height: 30px;
 background-color: rgba( 0, 0, 0, 0.8);
    height: 460px;
    width: 210px;
    float: left;
    padding: 5px; 
    overflow-y: scroll;
	border-color: transparent;
}

.LeftPanelHeader {
    color: white;
    width: 183px;
    clear: both;
    text-align: center;
    padding-top: 3px; 
    padding-bottom: 3px; 
}


.MainBody {
    width: 600px;
    float: left;
    padding: 10px; 
}

.footer {
    background-color: white;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px; 
}

/* Label Style */
.display {
  font-family: verdana, sans-serif;
  font-size: 13px;
  color: #777;
}

.display_bold {
  font-family: verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #555;
}

/* Label Style */
label {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: white;
}

/* Double Border */
.form-captcha input {
	padding: 3px;
	margin-left: 0;
	border: 1px solid #ccc;
	font-size: 1em; /*14px*/
	line-height: 1.071em; /*15px*/
	-moz-box-shadow: 0 1px 2px #eee inset;
	-webkit-box-shadow: 0 1px 2px #eee inset;
	box-shadow: 0 1px 2px #eee inset;
}



/* Submit Button with Hover Effect*/

/* Custom Button Styles */
.btn-red {
	border-radius: 0;
	color: red;
	background-color: rgba(0, 0, 0, 0.4);
}
.btn-green {
	border-radius: 0;
	color: green;
	background-color: rgba(0, 0, 0, 0.4);
}
.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
	border-radius: 0;
	color: #333;
	background-color: rgb(255, 255, 255);
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
	color: #333;
	background-color: rgba(255, 255, 255, 0.8);
}

